.app{
  padding-bottom: 166px;
  &__content {
    display: flex;
    align-items: center;
    column-gap: 20px;
  }

  &__info {

    &-title {
      @include text(500, 36px, 50px);
      text-transform: capitalize;
      color: #363853;
    }

    &-text {
      @include text(400, 20px, 30px);
      text-transform: capitalize;
      color: #363853;
      margin: 30px 0 30px;
    }
    &-icons{
      display: flex;
      align-items: center;
column-gap: 45px;
}

  }

  &__img{
    width: 50%;
  }
}
