.category{
  padding-bottom: 87px;
  &__list{
    display: flex;
    column-gap: 26px;
    margin: 55px 0 39px;
  }
  &__tab{
    width: calc(20% - 20.8px);
    background: #FFFFFF;
    border-radius: 8px;
    padding: 14px 47px;
    display: flex;
    align-items: center;
    column-gap: 8px;
    @include text(400, 20px, 24px);
    color: #363853;
    cursor: pointer;
    transition: .3s all;
    span{
      svg path{
        fill:#363853
      }
    }
    &:hover{
      background: $orange;
      color: #FFFFFF;
      svg path{
        fill: #FFFFFF;
      }
    }
  }

  &__card{
    background: #FFFFFF;
    border-radius: 12px;
    text-align: center;
    padding: 22px 16px;

  img{
    width: 100%;
  }
  &-top{
    padding: 0 16px;
  }
    &-title{
      @include text(400, 15px, 18px);
      color: #363853;
      margin-top: 15px;
    }
    &-price{
      @include text(500, 15px, 18px);
      color: #363853;
      margin: 9px 0 11px;
    }
    &-btn{
      background: $orange;
      padding: 7px 13px;
      border-radius: 2px;
      @include text(400, 15px, 18px);
      color: #FFFFFF;
      border: none;
      cursor: pointer;
    }
}
}


.swiper-slide {
  width: 100%;
  height: 295px;
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.tabs__content{
  display: none;
  &.active{
    display: block;
  }
}

